/*  
Alex Mast
5/1/2025

*/



body {
    background-color: goldenrod;
    font-family: Georgia, serif;
    color: #40300A;
    padding: 1em;
    padding-bottom: 2em;
}

a.previous {
    float: left;
    padding-right: 1em;
}

a.next {
    float: right;
    padding-left: 1em;
}

a.moduleLink {
    font-size: 2em;
    font-weight: bold;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    color: #4A4D22;
}

header, footer {
    display: inline-block;
    width: 100%;
}

img {
    float: left;
    margin-right: 2em;
}

h1 {
    justify-content: center;
    display: flex;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 3em;
}

h2 {
    justify-content: center;
    display: flex;
    font-size: 2em;
}

h3 {
    width: 100%;
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

p, h3, h4 {
    float: none;
}

p.reading {
    font-style: italic;
}

p.notes {
    text-shadow: 0px 0px 1px #40300A;
}

table {
    border-collapse: collapse;
}

td {
    border-style: solid;
    border-width: 0.1em;
}